:root {
  --primary: #ffffff;
  --bg-color: #d8bfd8;
  --bg-envelope-color: #f5edd1;
  --envelope-tab: #ecdeb8;
  --envelope-cover: #e6cfa7;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --txt-color: #ffffff;
  --heart-color: #ff6b6b;
}

p, h1, h2 {
  margin: 0;
}

html {
  font-family: "Ephesis", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

.container {
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  place-items: center;
}

.container > .envelope-wrapper {
  background: var(--bg-envelope-color);
  box-shadow: 0 0 40px var(--shadow-color);
}

.envelope-wrapper > .envelope {
  position: relative;
  width: 300px;
  height: 230px;
}

.envelope-wrapper > .envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 130px solid var(--envelope-tab);
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: all 1.0s ease-in-out 0.9s;
}

.envelope-wrapper > .envelope::after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 0px;
  height: 0px;
  border-top: 130px solid transparent;
  border-right: 150px solid var(--envelope-cover);
  border-bottom: 100px solid var(--envelope-cover);
  border-left: 150px solid var(--envelope-cover);
}

.envelope > .letter {
  position: absolute;
  right: 20%;
  bottom: 0;
  width: 54%;
  height: 90%;
  border-radius: 0.2rem;
  background: var(--primary) url('images/noel.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 5px var(--shadow-color);
  padding: 0.5rem;
}

.text {
  color: var(--txt-color);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
  flex-direction: column;
  text-align: center;
  height: 45%;
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -40%) rotate(0deg);
  cursor: pointer;
  z-index: 999;
  transition: transform 1.5s ease-in-out;
}

.envelope-wrapper {
  position: relative;
  z-index: 1;
}

.flap > .envelope > .letter {
  bottom: 100px;
  transform: scale(1.5);
  transition-delay: 1.8s;
}

.flap > .envelope:before {
  transform: rotateX(180deg);
  z-index: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--heart-color);
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.envelope-wrapper > .click-me {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--heart-color);
  font-size: 18px;
  font-weight: bold;
  z-index: 3;
}

